// Colors - names http://chir.ag/projects/name-that-color/#6195ED

$color-white: #fff;
$color-white-smoke: #f5f5f5;
$color-gainsboro: #ddd;
$color-very-light-grey: #ccc;
$color-nero: #222;
$color-night-rider: #333;
$color-turquoise: #29d6cd;